body {
  margin: 0;
  font-family: Arial, sans-serif;
}


.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #2c3e50;
  padding: 15px 30px;
}

.logo {
  color: white;
}

.nav-links a {
  color: white;
  margin-left: 15px;
  text-decoration: none;
  font-weight: bold;
}

.nav-links a:hover {
  color: #1abc9c;
}


.page {
  padding: 40px;
  text-align: center;
}

.page h1 {
  color: #2c3e50;
}

.page p,
.page li {
  color: #555;
  font-size: 18px;
}

.page ul {
  list-style: none;
  padding: 0;
}
